In [26]:
import pandas as pd
import requests
import geopy
import time

In [4]:
chapters = pd.read_csv("chapters.csv")

In [5]:
chapters.head()

,Chapter,Institution,Location,District,Charter Date,Status
0,Alpha,Oklahoma State University,"Stillwater, Oklahoma",Southwest,"November 27, 1919",Active
1,Beta,Montana State University,"Bozeman, Montana",Midwest,"December 17, 1920",Active
2,Gamma,University of Washington,"Seattle, Washington",Western,"December 16, 1920July 10, 1993*",Active
3,Delta,University of Oklahoma,"Norman, Oklahoma",Southwest,"May 21, 1921",Active
4,Epsilon,Mississippi State University,"Starkville, Mississippi",Southeast,"April 20, 1923April 20, 1994*",Active

In [7]:
chapters.Location

0                Stillwater, Oklahoma
1                    Bozeman, Montana
2                 Seattle, Washington
3                    Norman, Oklahoma
4             Starkville, Mississippi
5         State College, Pennsylvania
6                      Columbus, Ohio
7                   Corvallis, Oregon
8                    Atlanta, Georgia
9              Fort Collins, Colorado
10             Fayetteville, Arkansas
11          Grand Forks, North Dakota
12                Ann Arbor, Michigan
13                   Golden, Colorado
14          Morgantown, West Virginia
15                    Auburn, Alabama
16             New Orleans, Louisiana
17                          Ada, Ohio
18                  Missoula, Montana
19                   Cincinnati, Ohio
20              Palo Alto, California
21               Berkeley, California
22            Los Angeles, California
23                    Tucson, Arizona
24                       Reno, Nevada
25              Indianapolis, Indiana
26             Durham, North Carolina
27                       Athens, Ohio
28         Philadelphia, Pennsylvania
29               Bloomington, Indiana
                    ...
300            Newport News, Virginia
301           Allentown, Pennsylvania
302                 Fairfax, Virginia
303                    Eugene, Oregon
304          Columbia, South Carolina
305      Chester County, Pennsylvania
306                San Antonio, Texas
307               Fort Myers, Florida
308             Fullerton, California
309                   Edinburg, Texas
310                      Tyler, Texas
311               Montgomery, Alabama
312                  Atlanta, Georgia
313                 Fort Worth, Texas
314          Pittsburgh, Pennsylvania
315                    Abilene, Texas
316                  Pocatello, Idaho
317            Edinboro, Pennsylvania
318           Raleigh, North Carolina
319             Boston, Massachusetts
320    Elizabeth City, North Carolina
321               Statesboro, Georgia
322                   Beebe, Arkansas
323                      Kennesaw, GA
324                    Tuscaloosa, AL
325                  Urbana, Illinois
326           West Haven, Connecticut
327                 Chicago, Illinois
328                 Norfolk, Virginia
329                Pomona, California
Name: Location, Length: 330, dtype: object

In [24]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="portfolio-app")
location = geolocator.geocode("Kennesaw, GA")

In [25]:
location.latitude

34.0234337

In [27]:
lats = []
lons = []
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="portfolio-app")

for loc in chapters.Location:
    try:
        r = geolocator.geocode(loc)
        lats.append(r.latitude)
        lons.append(r.longitude)
    except:
        print(loc)
    time.sleep(1)

In [29]:
len(lats)

330

In [30]:
chapters["Lat"] = lats
chapters["Long"] = lons

In [31]:
chapters.head()

,Chapter,Institution,Location,District,Charter Date,Status,Lat,Long
0,Alpha,Oklahoma State University,"Stillwater, Oklahoma",Southwest,"November 27, 1919",Active,36.115631,-97.058572
1,Beta,Montana State University,"Bozeman, Montana",Midwest,"December 17, 1920",Active,45.679984,-111.044675
2,Gamma,University of Washington,"Seattle, Washington",Western,"December 16, 1920July 10, 1993*",Active,47.603832,-122.330062
3,Delta,University of Oklahoma,"Norman, Oklahoma",Southwest,"May 21, 1921",Active,35.222572,-97.439482
4,Epsilon,Mississippi State University,"Starkville, Mississippi",Southeast,"April 20, 1923April 20, 1994*",Active,33.450400,-88.818387

In [40]:
new = pd.read_csv("chapters_geo.csv")

In [41]:
new.head()

,Chapter,Institution,Location,District,Charter Date,Status,Lat,Long
0,Alpha,Oklahoma State University,"Stillwater, Oklahoma",Southwest,"November 27, 1919",Active,36.115631,-97.058572
1,Beta,Montana State University,"Bozeman, Montana",Midwest,"December 17, 1920",Active,45.679984,-111.044675
2,Gamma,University of Washington,"Seattle, Washington",Western,"December 16, 1920",Active,47.603832,-122.330062
3,Delta,University of Oklahoma,"Norman, Oklahoma",Southwest,"May 21, 1921",Active,35.222572,-97.439482
4,Epsilon,Mississippi State University,"Starkville, Mississippi",Southeast,"April 20, 1923",Active,33.450400,-88.818387